:root {
  --accent-color1: #5bbeeb; /* color variable */
  --accent-color2: rgb(87, 143, 241);
}

body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto; 
    text-align: center; /* */
    padding: 1ch;
    background-color: #96cfe9;
   }

img {
  max-width: 50%;
}

p {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  text-align: center;
}

nav a {
  text-decoration: none;
  flex: 1;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom-width: 0.4em;
  padding-bottom: 0.1em;
  border-bottom-color: var(--accent-color2);
  border-bottom-style: solid;
}

nav a:hover{
  border-bottom: 0.4em;
  padding-bottom: 0.1em;
  border-bottom-color: var(--accent-color1);
  border-bottom-style: solid;
}
   
input,
textarea,
button {
  font: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-block: 1px;
}

/* 
current nav override hover nav
navigation above name
change font
committed updates but not showing on website 
*/